body {
  /* background: rgb(212, 226, 249); */
  background-image: url("images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* font-family: fantasy; */
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  /* border: 1px solid #000000; */
  z-index: 1;
}
#prompt-container {
  z-index: 3;
  display: none;
  /* position: absolute;
  left: 40%;
  top: 30%; */
  position: relative;
  width: 250px;
  margin: auto;
  padding: 30px 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: "Sigmar One", cursive;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  background: rgba(255, 255, 255, 0.8);
}
#background-canvas {
  position: absolute;
  left: 0;
  top: 0;
  /* border: 1px solid #000000; */
  z-index: 0;
}

#canvas-container {
  position: relative;
  display: inline-block;
  width: 600px;
  height: 400px;
  background: white;
  /* border: 1px solid black; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#content-container {
  text-align: center;
}
#game-container {
  display: inline-flex;
  /* background: greenyellow; */
}

#right-panel {
  margin: 20px;
  width: 200px;
}

header {
  display: flex;

  justify-content: space-around;
}
#logo {
  font-family: "Sigmar One", cursive;
  font-size: 60px;
  color: rgb(83, 125, 193);
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#github-logo {
  width: 100%;
  height: 100%;
}

#github-logo-container {
  height: 100px;
  width: 100px;
}

#timer {
  font-family: "Sigmar One", cursive;
  font-size: 30px;
  background: rgb(91, 132, 198);
  color: white;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px rgb(108, 124, 150);
  margin-bottom: 35px;
}

#instruction-container {
  width: 210px;
  padding: 15px 30px;
}

#instruction-board {
  background: rgb(232, 237, 244);
  border-radius: 10px;
  padding: 0 5px 10px 5px;

  box-shadow: 5px 5px 5px rgba(183, 192, 207, 0.6);
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#instruction-container :nth-child(2) {
  font-family: fantasy;
  font-size: 20px;
}

#instruction-text-title {
  font-family: "Sigmar One", cursive;
  font-size: 26px;
  color: rgb(91, 132, 198);
}

#buttons {
  margin-top: 10px;
  justify-content: space-around;
}
button {
  font-family: "Sigmar One", cursive;
  background: rgb(141, 179, 239);
  color: white;
  font-size: 22px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(108, 124, 150);
}

button:hover {
  background: rgb(92, 149, 242);
  cursor: pointer;
}

#level-number {
  font-family: "Sigmar One", cursive;
  font-size: 28px;
  color: rgb(112, 115, 119);
  /* text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; */
}
